.movie--hub {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.search {

    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: none;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
}

.toSearch {
    width: inherit;
    height: inherit;
    outline: none;
    padding: 15px 10px;
    border: 2px solid #8d23f0;
    height: 30px;
    border-radius: 5px 0px 0px 5px;

}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    padding: 10px 15px;
    border-radius: 0px 5px 5px 0px;
    background-color: #8d23f0;
    color: #fff;
    cursor: pointer;
    border: none;
}


.movie--box {
    width: 95%;
    top: 50px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin: 0 auto;
    gap: 15px;
}

.movie--cont {
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 3px 3px 2px 1px #00000026;
    padding-bottom: 20px;
    transition: transform 0.5s ease 0s;

}

.movie--cont:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 2px 2px 2px 0px #00000026;

}

.movie__image {
    width: 100%;
    height: 220px;
    object-fit: cover;

}

.movieTitle {
    width: 100%;
    height: 60px;
    padding: 10px;
    /* margin-top: 20px; */
    /* background-color: #fff; */
    display: flex;
    justify-content: space-around;
    align-items: center;



}

.title {
    color: #460484;
    line-height: 20px;
    text-transform: uppercase;
    width: 70%;
    font-size: 15px;
}


.rating--star {
    margin-right: 10px;
    color: rgb(248, 212, 8);
    font-size: 16px;
}

.rating--text {
    font-weight: 700;
    color: #8d23f0;
}

.overview {
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;


}


.overview--text {
    font-size: 12px;
    box-sizing: border-box;
}

.overview--others {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    margin-top: 10px;
    font-size: 12px;
}

.overview--others span {
    margin-right: 5px;
    font-weight: 500;
}

.pre-load {
    width: 100%;
    margin-left: 100px;
    margin: 0 auto;
    /* background-color: #4f0c8f; */
}

.roll {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 10px;
}

@media screen and (max-width: 640px) {
    .movie--hub {
        width: 100%;
        padding: 0px 10px;
    }

    .search {

        width: 90%;
    }

    .toSearch {
        padding: 14.8px 10px;
    }

    .movie--box {
        top: 80px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .movie--cont {
        padding-bottom: 10px;

    }

    .movie--cont:hover {
        transform: scale(1.02);

    }

    .movie__image {
        height: 180px;
    }

    .movieTitle {
        height: 40px;
        padding: 5px;
        margin-top: 10px;
        justify-content: center;
        flex-direction: column;
    }

    .title {
        line-height: 13px;
        width: 100%;
        font-size: 12px;
        text-align: center;
    }

    .rating--star {
        margin-right: 5px;
        font-size: 13px;
    }

    .rating--text {
        font-size: 12px;
    }

    .overview {
        width: 100%;
        background-color: #fff;
        padding: 7px 10px;
    }
    .overview h3 {
        font-size: 14px;
    }
    
    
    .overview--text {
        font-size: 11px;
    }
    
    .overview--others {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
        font-size: 11px;
    }

}


@media screen and (min-width: 768px) and (max-width: 1024px){
    .search {

        width: 90%;
    }

    .toSearch {
        padding: 14.8px 10px;
    }

    .movie--box {
        top: 80px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .movie--cont:hover {
        transform: scale(1.02);
    }

    .movie__image {
        height: 200px;
    }

    .movieTitle {
        height: 40px;
        padding: 8px;
        margin-top: 10px;
        justify-content: center;
        flex-direction: column;
    }

    .title {
        line-height: 17px;
        width: 100%;
        font-size: 15px;
        text-align: center;
    }

    .rating--star {
        margin-right: 5px;
        font-size: 14px;
    }

    .rating--text {
        font-size: 16px;
    }

    .overview {
        width: 100%;
        background-color: #fff;
        padding: 7px 10px;
    }
    .overview h3 {
        font-size: 16px;
    }
    
    
    .overview--text {
        font-size: 12px;
    }
    
    .overview--others {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 5px;
        font-size: 12px;
    }

}